In [1613]:
import pandas as pd
import numpy as np
import random

In [1614]:
cbb_table = pd.read_csv("Data/cbb.csv")
cbb_table.drop(['POSTSEASON'], axis=1, inplace=True)
cbb_table['WIN_PCT'] = cbb_table['W']/cbb_table['G']
cbb_table.drop(['G', 'W'], axis = 1, inplace = True)

# Check for names ending with '.'
mask = cbb_table['TEAM'].str.endswith('.')

# Remove the trailing '.' using 'str.rstrip'
cbb_table.loc[mask, 'TEAM'] = cbb_table.loc[mask, 'TEAM'].str.rstrip('.')
cbb_table = cbb_table.rename(columns={'TEAM': 'Team1'})
cbb_table = cbb_table.rename(columns={'YEAR': 'Year'})

cbb_table.drop(["SEED"], axis = 1, inplace = True)



cbb_table.head()

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year,WIN_PCT
0,North Carolina,ACC,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,...,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016,0.825000
1,Wisconsin,B10,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,...,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015,0.900000
2,Michigan,B10,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,...,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018,0.825000
3,Texas Tech,B12,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,...,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019,0.815789
4,Gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,...,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017,0.948718

In [1615]:
tourn_table = pd.read_csv("Data/MNCAATourneyCompactResults.csv")
tourn_table.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [1616]:
teams_table = pd.read_csv("Data/MTeams.csv")
teams_table

# Create easy mapping from integer TeamID to string Team Name
id_to_name = {}
name_to_id = {}
for idx, row in teams_table.iterrows():
    id_to_name[row["TeamID"]] = row["TeamName"]
    name_to_id[row["TeamName"]] = row["TeamID"]
    
# creating Team 1 and Team 2 columns
tourn_table['Team1'] = ""
tourn_table['Team2'] = ""
tourn_table['WTeamName'] = ""

for idx, row in tourn_table.iterrows():
    TEAMS = [row["WTeamID"], row["LTeamID"]]
    team1 = random.choice(TEAMS)
    team2 = TEAMS[0] if TEAMS[0] != team1 else TEAMS[1]
    tourn_table.at[idx, "Team1"] = id_to_name[team1]
    tourn_table.at[idx, "Team2"] = id_to_name[team2]
    tourn_table.at[idx, "WTeamName"] = id_to_name[row["WTeamID"]]
    
for idx, row in tourn_table.iterrows():
    TEAMS = [row["WTeamID"], row["LTeamID"]]
    team1 = random.choice(TEAMS)
    team2 = TEAMS[0] if TEAMS[0] != team1 else TEAMS[1]
    tourn_table.at[idx, "Team1"] = id_to_name[team1]
    tourn_table.at[idx, "Team2"] = id_to_name[team2]
    tourn_table.at[idx, "WTeamName"] = id_to_name[row["WTeamID"]]

tourn_table.drop(["LTeamID"], axis = 1, inplace = True)
tourn_table.drop(["NumOT"], axis = 1, inplace = True)
tourn_table = tourn_table.rename(columns={'Season': 'Year'})


tourn_table

,Year,DayNum,WTeamID,WScore,LScore,WLoc,Team1,Team2,WTeamName
0,1985,136,1116,63,54,N,Iowa,Arkansas,Arkansas
1,1985,136,1120,59,58,N,Auburn,Purdue,Auburn
2,1985,136,1207,68,43,N,Georgetown,Lehigh,Georgetown
3,1985,136,1229,58,55,N,Illinois St,USC,Illinois St
4,1985,136,1242,49,38,N,Kansas,Ohio,Kansas
...,...,...,...,...,...,...,...,...,...
2446,2023,146,1274,88,81,N,Miami FL,Texas,Miami FL
2447,2023,146,1361,57,56,N,San Diego St,Creighton,San Diego St
2448,2023,152,1163,72,59,N,Miami FL,Connecticut,Connecticut
2449,2023,152,1361,72,71,N,FL Atlantic,San Diego St,San Diego St
2450,2023,154,1163,76,59,N,San Diego St,Connecticut,Connecticut

In [1617]:
tourn_table.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName'],
      dtype='object')

In [1618]:
cbb2024_table = pd.read_csv("Data/2024_formatted.csv")

# Check for names ending with '.'
mask = cbb2024_table['TEAM'].str.endswith('.')

# Remove the trailing '.' using 'str.rstrip'
cbb2024_table.loc[mask, 'TEAM'] = cbb2024_table.loc[mask, 'TEAM'].str.rstrip('.')
cbb2024_table = cbb2024_table.rename(columns={'TEAM': 'Team1'})
cbb2024_table = cbb2024_table.drop(cbb2024_table.columns[0], axis=1)

cbb2024_table

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,2P_O,2P_D,3P_O,3P_D,3PR,3PRD,ADJ_T,WAB,WIN_PCT,YEAR
0,Houston,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,36.9,...,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,0.882353,2024
1,Connecticut,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,...,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,0.911765,2024
2,Purdue,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,37.4,...,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,0.878788,2024
3,Iowa St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,31.6,...,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,0.794118,2024
4,Auburn,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,...,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,0.794118,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Saint Peter's,MAAC,96.9,100.2,0.4053,45.0,46.6,19.6,20.3,35.1,...,42.4,46.4,33.9,31.5,31.1,34.5,64.0,-8.8,0.612903,2024
64,Stetson,ASun,108.3,114.1,0.3545,53.4,52.0,15.8,13.5,27.5,...,52.5,52.2,36.5,34.5,41.8,37.4,66.0,-6.8,0.709677,2024
65,Grambling St,SWAC,97.7,106.1,0.2804,48.2,49.1,20.5,19.0,28.1,...,47.0,48.4,34.1,33.7,29.8,33.4,64.9,-8.0,0.645161,2024
66,Howard,MEAC,104.3,113.5,0.2748,51.7,51.1,21.2,16.6,33.3,...,49.1,50.9,37.2,34.4,39.0,33.2,67.8,-12.1,0.545455,2024
67,Wagner,NEC,95.6,104.8,0.2565,45.1,48.3,15.8,16.9,29.1,...,43.3,50.7,32.0,29.8,38.0,41.2,61.4,-11.7,0.566667,2024

In [1619]:
cbb2024_table.columns

Index(['Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       '3PR', '3PRD', 'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR'],
      dtype='object')

In [1620]:
cbb_table.columns

Index(['Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'Year', 'WIN_PCT'],
      dtype='object')

In [1621]:
tourn_table.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName'],
      dtype='object')

In [1622]:
merged_stats = tourn_table.merge(cbb_table, on=['Team1', 'Year'], how='left')
merged_stats

,Year,DayNum,WTeamID,WScore,LScore,WLoc,Team1,Team2,WTeamName,CONF,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT
0,1985,136,1116,63,54,N,Iowa,Arkansas,Arkansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,136,1120,59,58,N,Auburn,Purdue,Auburn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1985,136,1207,68,43,N,Georgetown,Lehigh,Georgetown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,136,1229,58,55,N,Illinois St,USC,Illinois St,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985,136,1242,49,38,N,Kansas,Ohio,Kansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2446,2023,146,1274,88,81,N,Miami FL,Texas,Miami FL,ACC,...,28.8,30.7,24.0,53.8,51.8,36.8,33.5,68.6,3.7,0.783784
2447,2023,146,1361,57,56,N,San Diego St,Creighton,San Diego St,MWC,...,26.1,33.2,30.2,48.4,49.3,34.0,28.3,65.7,5.7,0.842105
2448,2023,152,1163,72,59,N,Miami FL,Connecticut,Connecticut,ACC,...,28.8,30.7,24.0,53.8,51.8,36.8,33.5,68.6,3.7,0.783784
2449,2023,152,1361,72,71,N,FL Atlantic,San Diego St,San Diego St,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2450,2023,154,1163,76,59,N,San Diego St,Connecticut,Connecticut,MWC,...,26.1,33.2,30.2,48.4,49.3,34.0,28.3,65.7,5.7,0.842105

In [1623]:
merged_stats.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O',
       'EFG_D', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D',
       '3P_O', '3P_D', 'ADJ_T', 'WAB', 'WIN_PCT'],
      dtype='object')

In [1624]:
merged_stats.columns = ['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1', 'BARTHAG_Team1', 'EFG_O_Team1',
       'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1', '2P_O_Team1', '2P_D_Team1',
       '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1']

In [1625]:
cbb_table = cbb_table.rename(columns={'Team1': 'Team2'})

merged_stats_comp = merged_stats.merge(cbb_table, on=['Team2', 'Year'], how='left')
cbb_table = cbb_table.rename(columns={'Team2': 'Team1'})

In [1626]:
merged_stats_comp.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1',
       'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1',
       'WAB_Team1', 'WIN_PCT_Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG',
       'EFG_O', 'EFG_D', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O',
       '2P_D', '3P_O', '3P_D', 'ADJ_T', 'WAB', 'WIN_PCT'],
      dtype='object')

In [1627]:
merged_stats_comp.columns = ['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1', 'CONF_Team2', 'ADJOE_Team2', 'ADJDE_Team2',
       'BARTHAG_Team2', 'EFG_O_Team2', 'EFG_D_Team2', 'TOR_Team2',
       'TORD_Team2', 'ORB_Team2', 'DRB_Team2', 'FTR_Team2', 'FTRD_Team2',
       '2P_O_Team2', '2P_D_Team2', '3P_O_Team2', '3P_D_Team2', 'ADJ_T_Team2',
       'WAB_Team2', 'WIN_PCT_Team2']

In [1628]:
merged_stats_comp.head()

,Year,DayNum,WTeamID,WScore,LScore,WLoc,Team1,Team2,WTeamName,CONF_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
0,1985,136,1116,63,54,N,Iowa,Arkansas,Arkansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,136,1120,59,58,N,Auburn,Purdue,Auburn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1985,136,1207,68,43,N,Georgetown,Lehigh,Georgetown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,136,1229,58,55,N,Illinois St,USC,Illinois St,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985,136,1242,49,38,N,Kansas,Ohio,Kansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1629]:
merged_stats_comp = merged_stats_comp.dropna()
merged_stats_comp = merged_stats_comp.drop(["Year", "DayNum", "WTeamID", "WScore", "LScore", "WLoc"], axis = 1)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
merged_stats_comp['CONF_Team1'] = le.fit_transform(merged_stats_comp['CONF_Team1'])
merged_stats_comp['CONF_Team2'] = le.fit_transform(merged_stats_comp['CONF_Team2'])


merged_stats_comp

,Team1,Team2,WTeamName,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
1784,James Madison,LIU Brooklyn,James Madison,11,98.5,99.4,0.4736,47.6,48.7,17.2,...,33.5,45.6,31.6,53.1,51.1,38.0,37.2,69.3,-8.6,0.588235
1785,La Salle,Boise St,La Salle,0,112.0,96.2,0.8516,51.9,49.3,17.1,...,24.4,33.7,42.2,48.4,51.0,38.7,34.8,66.2,-0.2,0.633333
1786,Belmont,Arizona,Arizona,20,108.9,96.2,0.8064,56.5,48.0,19.6,...,26.7,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,0.771429
1787,Butler,Bucknell,Butler,0,109.2,93.0,0.8624,50.7,46.7,20.2,...,24.3,35.7,29.4,48.3,41.1,35.8,30.5,63.4,1.0,0.818182
1788,California,UNLV,California,21,105.4,92.3,0.8211,48.0,44.3,18.9,...,27.1,36.7,29.6,48.9,42.6,32.6,31.6,69.3,1.8,0.705882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444,Gonzaga,Connecticut,Connecticut,28,123.2,99.0,0.9251,57.6,51.4,14.8,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872
2446,Miami FL,Texas,Miami FL,1,119.1,100.9,0.8715,54.3,51.2,16.1,...,29.0,30.5,33.7,54.0,47.9,34.7,32.4,68.5,7.5,0.763158
2447,San Diego St,Creighton,San Diego St,18,110.8,89.5,0.9205,49.3,46.5,17.3,...,23.5,28.4,19.7,55.1,45.7,35.4,33.6,67.7,2.2,0.648649
2448,Miami FL,Connecticut,Connecticut,1,119.1,100.9,0.8715,54.3,51.2,16.1,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872
2450,San Diego St,Connecticut,Connecticut,18,110.8,89.5,0.9205,49.3,46.5,17.3,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872

In [1630]:
cbb2024_table.head()

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,2P_O,2P_D,3P_O,3P_D,3PR,3PRD,ADJ_T,WAB,WIN_PCT,YEAR
0,Houston,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,36.9,...,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,0.882353,2024
1,Connecticut,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,...,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,0.911765,2024
2,Purdue,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,37.4,...,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,0.878788,2024
3,Iowa St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,31.6,...,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,0.794118,2024
4,Auburn,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,...,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,0.794118,2024

In [1631]:
cbb2024_table.drop(columns = ["3PR", "3PRD"], axis = 1, inplace = True)
cbb2024_table.columns

Index(['Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR'],
      dtype='object')

In [1632]:
cbb_table.columns = ['Team2', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR']
cbb_table.columns

Index(['Team2', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR'],
      dtype='object')

In [1633]:
cbb_table.head()

,Team2,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT,YEAR
0,North Carolina,ACC,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,...,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016,0.825000
1,Wisconsin,B10,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,...,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015,0.900000
2,Michigan,B10,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,...,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018,0.825000
3,Texas Tech,B12,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,...,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019,0.815789
4,Gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,...,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017,0.948718

In [1634]:
cbb2024_table.head()

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT,YEAR
0,Houston,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,36.9,...,29.9,39.0,48.4,43.4,34.7,30.0,63.4,10.4,0.882353,2024
1,Connecticut,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,...,33.3,32.5,58.5,43.7,36.7,31.9,64.6,11.0,0.911765,2024
2,Purdue,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,37.4,...,42.8,23.0,53.2,48.1,40.8,31.4,67.6,10.9,0.878788,2024
3,Iowa St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,31.6,...,36.1,35.2,51.7,46.9,34.9,31.5,67.6,6.7,0.794118,2024
4,Auburn,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,...,38.2,41.0,54.9,42.8,35.2,29.8,69.9,5.4,0.794118,2024

In [1635]:
bracket_list = [['Connecticut','Stetson'],['Florida Atlantic','Northwestern'],['San Diego St','UAB'],['Auburn','Yale'],['BYU','Duquesne'],['Illinois','Morehead St'],['Washington St','Drake'],['Iowa St','South Dakota St'],['North Carolina','Wagner'],['Mississippi St','Michigan St'],['Saint Mary\'s','Grand Canyon'],['Alabama','College of Charleston'],['Clemson','New Mexico'],['Baylor','Colgate'],['Dayton','Nevada'],['Arizona','Long Beach St'],['Houston','Longwood'],['Nebraska','Texas A&M'],['Wisconsin','James Madison'],['Duke','Vermont'],['Texas Tech','North Carolina'],['Kentucky','Oakland'],['Florida','Colorado'],['Marquette','Western Kentucky'],['Purdue','Grambling St'],['Utah St','TCU'],['Gonzaga','McNeese St'],['Kansas','Samford'],['South Carolina','Oregon'],['Creighton','Akron'],['Texas','Virginia'],['Tennessee','Saint Peter\'s']]
mm2024_matchups = pd.DataFrame(bracket_list, columns = ['Team1','Team2'])

mm2024_matchups

               Team1                  Team2
0        Connecticut                Stetson
1   Florida Atlantic           Northwestern
2       San Diego St                    UAB
3             Auburn                   Yale
4                BYU               Duquesne
5           Illinois            Morehead St
6      Washington St                  Drake
7            Iowa St        South Dakota St
8     North Carolina                 Wagner
9     Mississippi St            Michigan St
10      Saint Mary's           Grand Canyon
11           Alabama  College of Charleston
12           Clemson             New Mexico
13            Baylor                Colgate
14            Dayton                 Nevada
15           Arizona          Long Beach St
16           Houston               Longwood
17          Nebraska              Texas A&M
18         Wisconsin          James Madison
19              Duke                Vermont
20        Texas Tech         North Carolina
21          Kentucky                Oakland
22           Florida               Colorado
23         Marquette       Western Kentucky
24            Purdue           Grambling St
25           Utah St                    TCU
26           Gonzaga             McNeese St
27            Kansas                Samford
28    South Carolina                 Oregon
29         Creighton                  Akron
30             Texas               Virginia
31         Tennessee          Saint Peter's

In [1636]:
mm2024_merged = mm2024_matchups.merge(cbb2024_table, on=['Team1'], how='left')
mm2024_merged.drop(["YEAR"], axis = 1, inplace = True)
cbb2024_table = cbb2024_table.rename(columns={'Team2': 'Team1'})
                                                      
mm2024_merged.head()

,Team1,Team2,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT
0,Connecticut,Stetson,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,...,26.8,33.3,32.5,58.5,43.7,36.7,31.9,64.6,11.0,0.911765
1,Florida Atlantic,Northwestern,Amer,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,...,29.2,34.8,27.5,56.0,49.3,35.6,33.6,68.0,1.3,0.757576
2,San Diego St,UAB,MWC,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,...,28.0,37.5,33.3,51.6,48.3,31.3,30.5,66.1,2.8,0.750000
3,Auburn,Yale,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,...,30.3,38.2,41.0,54.9,42.8,35.2,29.8,69.9,5.4,0.794118
4,BYU,Duquesne,B12,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,...,24.7,25.3,32.1,58.0,48.2,34.8,31.8,69.0,2.7,0.696970

In [1637]:
mm2024_merged.columns = ['Team1','Team2', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1']
cbb2024_table = cbb2024_table.rename(columns={'Team1': 'Team2'})

mm2024_merged_comp = mm2024_merged.merge(cbb2024_table, on=['Team2'], how='left')
mm2024_merged_comp.drop(["YEAR"], axis = 1, inplace = True)
mm2024_merged_comp.columns = ['Team1','Team2', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1', 'CONF_Team2', 'ADJOE_Team2', 'ADJDE_Team2',
       'BARTHAG_Team2', 'EFG_O_Team2', 'EFG_D_Team2', 'TOR_Team2',
       'TORD_Team2', 'ORB_Team2', 'DRB_Team2', 'FTR_Team2', 'FTRD_Team2',
       '2P_O_Team2', '2P_D_Team2', '3P_O_Team2', '3P_D_Team2', 'ADJ_T_Team2',
       'WAB_Team2', 'WIN_PCT_Team2']


                                                      
mm2024_merged_comp

,Team1,Team2,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,TORD_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
0,Connecticut,Stetson,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,...,31.2,31.7,25.9,52.5,52.2,36.5,34.5,66.0,-6.80,0.709677
1,Florida Atlantic,Northwestern,Amer,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,...,28.2,29.9,39.4,49.7,50.3,39.4,35.9,63.7,1.40,0.656250
2,San Diego St,UAB,MWC,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,...,31.0,40.5,31.4,50.4,50.2,33.1,35.0,67.8,-2.60,0.696970
3,Auburn,Yale,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,...,24.0,26.9,29.0,52.5,48.8,34.6,34.0,64.7,-2.50,0.758621
4,BYU,Duquesne,B12,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,...,30.0,33.1,35.3,49.6,48.4,33.9,31.7,66.3,-1.80,0.705882
5,Illinois,Morehead St,B10,125.3,101.2,0.9214,53.8,48.0,15.1,12.3,...,26.4,31.3,32.7,55.6,45.4,35.3,31.1,64.3,-3.40,0.866667
6,Washington St,Drake,P12,112.8,96.6,0.8563,52.1,47.3,16.1,15.9,...,22.1,32.6,31.0,55.1,51.9,36.5,33.0,67.8,1.70,0.848485
7,Iowa St,South Dakota St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,...,25.3,30.4,27.4,55.9,49.0,36.2,35.2,67.9,-7.50,0.709677
8,North Carolina,Wagner,ACC,116.8,93.4,0.9291,51.3,46.4,14.4,14.9,...,27.2,26.4,30.1,43.3,50.7,32.0,29.8,61.4,-11.70,0.566667
9,Mississippi St,Michigan St,SEC,112.6,95.0,0.8761,51.7,47.7,18.7,18.2,...,28.7,29.9,32.6,50.5,47.1,35.9,32.8,65.3,0.12,0.575758
10,Saint Mary's,Grand Canyon,WCC,115.9,93.6,0.9207,53.1,45.1,16.0,16.7,...,29.6,45.3,34.8,52.3,44.4,34.4,32.6,68.1,1.40,0.906250
11,Alabama,College of Charleston,SEC,125.1,102.2,0.9112,56.3,49.9,16.0,15.6,...,26.6,26.9,28.3,52.6,50.5,34.8,33.8,70.0,-1.60,0.818182
12,Clemson,New Mexico,ACC,116.7,99.4,0.8630,53.9,48.7,14.9,13.6,...,27.0,33.1,33.5,51.4,49.2,33.4,30.6,72.8,1.90,0.764706
13,Baylor,Colgate,B12,122.1,100.1,0.9077,55.6,51.3,17.7,17.1,...,24.5,27.6,24.5,53.3,48.7,35.7,29.9,66.2,-4.10,0.757576
14,Dayton,Nevada,A10,117.5,100.8,0.8535,56.6,47.9,15.8,15.7,...,27.2,46.2,34.3,52.6,49.1,36.5,31.3,66.8,2.90,0.812500
15,Arizona,Long Beach St,P12,121.6,93.6,0.9530,55.0,48.7,16.1,18.1,...,29.6,38.1,32.6,49.7,50.0,31.3,35.1,71.5,-8.10,0.636364
16,Houston,Longwood,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,...,25.5,39.5,36.1,48.6,50.9,34.2,34.6,66.9,-8.70,0.677419
17,Nebraska,Texas A&M,B10,115.7,95.6,0.8995,53.2,46.3,15.9,16.4,...,28.0,38.2,31.2,47.0,49.5,28.4,33.9,65.6,0.10,0.588235
18,Wisconsin,James Madison,B10,119.8,98.9,0.9004,52.4,52.2,14.6,16.9,...,27.6,34.2,35.1,54.2,48.8,36.5,28.6,69.8,1.50,0.939394
19,Duke,Vermont,ACC,120.8,97.0,0.9259,55.2,49.0,14.3,16.9,...,23.3,29.7,25.9,53.1,46.4,33.5,31.5,63.4,-1.20,0.875000
20,Texas Tech,North Carolina,B12,117.3,98.6,0.8810,52.8,49.1,16.5,17.0,...,23.5,36.8,28.3,50.3,46.0,35.4,31.4,70.4,6.40,0.794118
21,Kentucky,Oakland,SEC,123.0,102.3,0.8923,57.4,49.5,14.2,16.0,...,28.6,30.9,26.8,51.8,50.5,35.1,33.9,66.8,-4.20,0.676471
22,Florida,Colorado,SEC,119.6,99.4,0.8938,51.5,48.8,15.8,14.5,...,24.0,35.3,28.1,53.6,50.1,39.4,31.9,67.7,1.70,0.705882
23,Marquette,Western Kentucky,BE,118.8,94.8,0.9302,55.1,49.7,14.3,21.1,...,26.7,32.9,33.4,52.1,48.3,34.4,32.2,75.1,-6.60,0.733333
24,Purdue,Grambling St,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,...,32.7,39.6,33.9,47.0,48.4,34.1,33.7,64.9,-8.00,0.645161
25,Utah St,TCU,MWC,114.4,100.3,0.8197,54.1,49.6,15.7,16.4,...,28.6,35.1,35.7,51.2,50.9,35.6,32.8,69.9,1.10,0.636364
26,Gonzaga,McNeese St,WCC,121.4,98.6,0.9158,56.7,47.3,14.0,16.5,...,30.4,40.6,33.9,52.8,46.3,39.4,33.0,65.4,0.70,1.034483
27,Kansas,Samford,B12,113.3,92.9,0.9078,53.4,47.6,16.4,16.8,...,32.0,36.4,37.0,55.5,49.5,39.3,33.9,72.6,0.05,0.906250
28,South Carolina,Oregon,SEC,114.4,99.0,0.8403,50.8,48.0,15.5,14.9,...,27.1,32.3,32.8,52.7,51.6,33.6,34.3,67.2,1.40,0.676471
29,Creighton,Akron,BE,120.6,96.7,0.9269,57.5,46.4,15.3,11.2,...,25.6,33.6,29.0,54.8,50.7,32.0,30.0,65.7,-4.50,0.750000
30,Texas,Virginia,B12,118.9,98.4,0.8976,53.7,49.0,16.6,18.6,...,28.1,25.3,25.8,46.2,47.2,35.8,30.5,60.1,1.10,0.676471
31,Tennessee,Saint Peter's,SEC,115.5,91.3,0.9371,51.5,45.4,14.6,18.9,...,29.4,38.1,42.3,42.4,46.4,33.9,31.5,64.0,-8.80,0.612903

In [1638]:
## Machine Learning -- yay :) ##

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

labels = np.array(merged_stats_comp['WTeamName'])
le = LabelEncoder()
mm2024_merged_comp['CONF_Team1'] = le.fit_transform(mm2024_merged_comp['CONF_Team1'])
mm2024_merged_comp['CONF_Team2'] = le.fit_transform(mm2024_merged_comp['CONF_Team2'])



mm2024_merged_comp

,Team1,Team2,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,TORD_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
0,Connecticut,Stetson,5,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,...,31.2,31.7,25.9,52.5,52.2,36.5,34.5,66.0,-6.80,0.709677
1,Florida Atlantic,Northwestern,2,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,...,28.2,29.9,39.4,49.7,50.3,39.4,35.9,63.7,1.40,0.656250
2,San Diego St,UAB,6,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,...,31.0,40.5,31.4,50.4,50.2,33.1,35.0,67.8,-2.60,0.696970
3,Auburn,Yale,8,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,...,24.0,26.9,29.0,52.5,48.8,34.6,34.0,64.7,-2.50,0.758621
4,BYU,Duquesne,4,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,...,30.0,33.1,35.3,49.6,48.4,33.9,31.7,66.3,-1.80,0.705882
5,Illinois,Morehead St,3,125.3,101.2,0.9214,53.8,48.0,15.1,12.3,...,26.4,31.3,32.7,55.6,45.4,35.3,31.1,64.3,-3.40,0.866667
6,Washington St,Drake,7,112.8,96.6,0.8563,52.1,47.3,16.1,15.9,...,22.1,32.6,31.0,55.1,51.9,36.5,33.0,67.8,1.70,0.848485
7,Iowa St,South Dakota St,4,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,...,25.3,30.4,27.4,55.9,49.0,36.2,35.2,67.9,-7.50,0.709677
8,North Carolina,Wagner,1,116.8,93.4,0.9291,51.3,46.4,14.4,14.9,...,27.2,26.4,30.1,43.3,50.7,32.0,29.8,61.4,-11.70,0.566667
9,Mississippi St,Michigan St,8,112.6,95.0,0.8761,51.7,47.7,18.7,18.2,...,28.7,29.9,32.6,50.5,47.1,35.9,32.8,65.3,0.12,0.575758
10,Saint Mary's,Grand Canyon,9,115.9,93.6,0.9207,53.1,45.1,16.0,16.7,...,29.6,45.3,34.8,52.3,44.4,34.4,32.6,68.1,1.40,0.906250
11,Alabama,College of Charleston,8,125.1,102.2,0.9112,56.3,49.9,16.0,15.6,...,26.6,26.9,28.3,52.6,50.5,34.8,33.8,70.0,-1.60,0.818182
12,Clemson,New Mexico,1,116.7,99.4,0.8630,53.9,48.7,14.9,13.6,...,27.0,33.1,33.5,51.4,49.2,33.4,30.6,72.8,1.90,0.764706
13,Baylor,Colgate,4,122.1,100.1,0.9077,55.6,51.3,17.7,17.1,...,24.5,27.6,24.5,53.3,48.7,35.7,29.9,66.2,-4.10,0.757576
14,Dayton,Nevada,0,117.5,100.8,0.8535,56.6,47.9,15.8,15.7,...,27.2,46.2,34.3,52.6,49.1,36.5,31.3,66.8,2.90,0.812500
15,Arizona,Long Beach St,7,121.6,93.6,0.9530,55.0,48.7,16.1,18.1,...,29.6,38.1,32.6,49.7,50.0,31.3,35.1,71.5,-8.10,0.636364
16,Houston,Longwood,4,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,...,25.5,39.5,36.1,48.6,50.9,34.2,34.6,66.9,-8.70,0.677419
17,Nebraska,Texas A&M,3,115.7,95.6,0.8995,53.2,46.3,15.9,16.4,...,28.0,38.2,31.2,47.0,49.5,28.4,33.9,65.6,0.10,0.588235
18,Wisconsin,James Madison,3,119.8,98.9,0.9004,52.4,52.2,14.6,16.9,...,27.6,34.2,35.1,54.2,48.8,36.5,28.6,69.8,1.50,0.939394
19,Duke,Vermont,1,120.8,97.0,0.9259,55.2,49.0,14.3,16.9,...,23.3,29.7,25.9,53.1,46.4,33.5,31.5,63.4,-1.20,0.875000
20,Texas Tech,North Carolina,4,117.3,98.6,0.8810,52.8,49.1,16.5,17.0,...,23.5,36.8,28.3,50.3,46.0,35.4,31.4,70.4,6.40,0.794118
21,Kentucky,Oakland,8,123.0,102.3,0.8923,57.4,49.5,14.2,16.0,...,28.6,30.9,26.8,51.8,50.5,35.1,33.9,66.8,-4.20,0.676471
22,Florida,Colorado,8,119.6,99.4,0.8938,51.5,48.8,15.8,14.5,...,24.0,35.3,28.1,53.6,50.1,39.4,31.9,67.7,1.70,0.705882
23,Marquette,Western Kentucky,5,118.8,94.8,0.9302,55.1,49.7,14.3,21.1,...,26.7,32.9,33.4,52.1,48.3,34.4,32.2,75.1,-6.60,0.733333
24,Purdue,Grambling St,3,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,...,32.7,39.6,33.9,47.0,48.4,34.1,33.7,64.9,-8.00,0.645161
25,Utah St,TCU,6,114.4,100.3,0.8197,54.1,49.6,15.7,16.4,...,28.6,35.1,35.7,51.2,50.9,35.6,32.8,69.9,1.10,0.636364
26,Gonzaga,McNeese St,9,121.4,98.6,0.9158,56.7,47.3,14.0,16.5,...,30.4,40.6,33.9,52.8,46.3,39.4,33.0,65.4,0.70,1.034483
27,Kansas,Samford,4,113.3,92.9,0.9078,53.4,47.6,16.4,16.8,...,32.0,36.4,37.0,55.5,49.5,39.3,33.9,72.6,0.05,0.906250
28,South Carolina,Oregon,8,114.4,99.0,0.8403,50.8,48.0,15.5,14.9,...,27.1,32.3,32.8,52.7,51.6,33.6,34.3,67.2,1.40,0.676471
29,Creighton,Akron,5,120.6,96.7,0.9269,57.5,46.4,15.3,11.2,...,25.6,33.6,29.0,54.8,50.7,32.0,30.0,65.7,-4.50,0.750000
30,Texas,Virginia,4,118.9,98.4,0.8976,53.7,49.0,16.6,18.6,...,28.1,25.3,25.8,46.2,47.2,35.8,30.5,60.1,1.10,0.676471
31,Tennessee,Saint Peter's,8,115.5,91.3,0.9371,51.5,45.4,14.6,18.9,...,29.4,38.1,42.3,42.4,46.4,33.9,31.5,64.0,-8.80,0.612903

In [1639]:
for idx, row in merged_stats_comp.iterrows():
    merged_stats_comp.at[idx, "Team1"] = name_to_id[row["Team1"]]
    merged_stats_comp.at[idx, "Team2"] = name_to_id[row["Team2"]]
    merged_stats_comp.at[idx, "WTeamName"] = name_to_id[row["WTeamName"]]
    
for idx, row in mm2024_merged_comp.iterrows():
    mm2024_merged_comp.at[idx, "Team1"] = name_to_id[row["Team1"]]
    mm2024_merged_comp.at[idx, "Team2"] = name_to_id[row["Team2"]]

merged_stats_comp

,Team1,Team2,WTeamName,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
1784,1241,1254,1241,11,98.5,99.4,0.4736,47.6,48.7,17.2,...,33.5,45.6,31.6,53.1,51.1,38.0,37.2,69.3,-8.6,0.588235
1785,1247,1129,1247,0,112.0,96.2,0.8516,51.9,49.3,17.1,...,24.4,33.7,42.2,48.4,51.0,38.7,34.8,66.2,-0.2,0.633333
1786,1125,1112,1112,20,108.9,96.2,0.8064,56.5,48.0,19.6,...,26.7,37.4,32.9,50.6,43.4,37.1,35.8,66.8,4.6,0.771429
1787,1139,1137,1139,0,109.2,93.0,0.8624,50.7,46.7,20.2,...,24.3,35.7,29.4,48.3,41.1,35.8,30.5,63.4,1.0,0.818182
1788,1143,1424,1143,21,105.4,92.3,0.8211,48.0,44.3,18.9,...,27.1,36.7,29.6,48.9,42.6,32.6,31.6,69.3,1.8,0.705882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444,1211,1163,1163,28,123.2,99.0,0.9251,57.6,51.4,14.8,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872
2446,1274,1400,1274,1,119.1,100.9,0.8715,54.3,51.2,16.1,...,29.0,30.5,33.7,54.0,47.9,34.7,32.4,68.5,7.5,0.763158
2447,1361,1166,1361,18,110.8,89.5,0.9205,49.3,46.5,17.3,...,23.5,28.4,19.7,55.1,45.7,35.4,33.6,67.7,2.2,0.648649
2448,1274,1163,1163,1,119.1,100.9,0.8715,54.3,51.2,16.1,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872
2450,1361,1163,1163,18,110.8,89.5,0.9205,49.3,46.5,17.3,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872

In [1642]:
train_features, test_features, train_labels, test_labels = train_test_split(merged_stats_comp, labels, test_size = 0.2, random_state = 42)

# Instantiate model with 5000 decision trees
rf = RandomForestClassifier(n_estimators = 5000, random_state = 42)
# Train the model on training data
rf.fit(train_features.values, train_labels)

RandomForestClassifier(n_estimators=5000, random_state=42)

In [1643]:
predictions = rf.predict(test_features)

# Checking Accuracy
print("Accuracy:",metrics.accuracy_score(test_labels, predictions))

Accuracy: 0.5625

NameError: name 'metrics' is not defined