In [876]:
import pandas as pd
import numpy as np
import random

In [877]:
cbb_table = pd.read_csv("Data/cbb.csv")
cbb_table.drop(['POSTSEASON'], axis=1, inplace=True)
cbb_table['WIN_PCT'] = cbb_table['W']/cbb_table['G']
cbb_table.drop(['G', 'W'], axis = 1, inplace = True)

# Check for names ending with '.'
mask = cbb_table['TEAM'].str.endswith('.')

# Remove the trailing '.' using 'str.rstrip'
cbb_table.loc[mask, 'TEAM'] = cbb_table.loc[mask, 'TEAM'].str.rstrip('.')
cbb_table = cbb_table.rename(columns={'TEAM': 'Team1'})
cbb_table = cbb_table.rename(columns={'YEAR': 'Year'})

cbb_table.drop(["SEED"], axis = 1, inplace = True)



cbb_table.head()

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,Year,WIN_PCT
0,North Carolina,ACC,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,...,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016,0.825000
1,Wisconsin,B10,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,...,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015,0.900000
2,Michigan,B10,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,...,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018,0.825000
3,Texas Tech,B12,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,...,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019,0.815789
4,Gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,...,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017,0.948718

In [878]:
tourn_table = pd.read_csv("Data/MNCAATourneyCompactResults.csv")
tourn_table.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT
0    1985     136     1116      63     1234      54    N      0
1    1985     136     1120      59     1345      58    N      0
2    1985     136     1207      68     1250      43    N      0
3    1985     136     1229      58     1425      55    N      0
4    1985     136     1242      49     1325      38    N      0

In [879]:
teams_table = pd.read_csv("Data/MTeams.csv")
teams_table

# Create easy mapping from integer TeamID to string Team Name
id_to_name = {}
name_to_id = {}
for idx, row in teams_table.iterrows():
    id_to_name[row["TeamID"]] = row["TeamName"]
    name_to_id[row["TeamName"]] = row["TeamID"]
    
# creating Team 1 and Team 2 columns
tourn_table['Team1'] = ""
tourn_table['Team2'] = ""
tourn_table['WTeamName'] = ""

for idx, row in tourn_table.iterrows():
    TEAMS = [row["WTeamID"], row["LTeamID"]]
    team1 = random.choice(TEAMS)
    team2 = TEAMS[0] if TEAMS[0] != team1 else TEAMS[1]
    tourn_table.at[idx, "Team1"] = id_to_name[team1]
    tourn_table.at[idx, "Team2"] = id_to_name[team2]
    tourn_table.at[idx, "WTeamName"] = id_to_name[row["WTeamID"]]
    
for idx, row in tourn_table.iterrows():
    TEAMS = [row["WTeamID"], row["LTeamID"]]
    team1 = random.choice(TEAMS)
    team2 = TEAMS[0] if TEAMS[0] != team1 else TEAMS[1]
    tourn_table.at[idx, "Team1"] = id_to_name[team1]
    tourn_table.at[idx, "Team2"] = id_to_name[team2]
    tourn_table.at[idx, "WTeamName"] = id_to_name[row["WTeamID"]]

tourn_table.drop(["LTeamID"], axis = 1, inplace = True)
tourn_table.drop(["NumOT"], axis = 1, inplace = True)
tourn_table = tourn_table.rename(columns={'Season': 'Year'})


tourn_table

,Year,DayNum,WTeamID,WScore,LScore,WLoc,Team1,Team2,WTeamName
0,1985,136,1116,63,54,N,Iowa,Arkansas,Arkansas
1,1985,136,1120,59,58,N,Purdue,Auburn,Auburn
2,1985,136,1207,68,43,N,Georgetown,Lehigh,Georgetown
3,1985,136,1229,58,55,N,USC,Illinois St,Illinois St
4,1985,136,1242,49,38,N,Ohio,Kansas,Kansas
...,...,...,...,...,...,...,...,...,...
2446,2023,146,1274,88,81,N,Texas,Miami FL,Miami FL
2447,2023,146,1361,57,56,N,Creighton,San Diego St,San Diego St
2448,2023,152,1163,72,59,N,Miami FL,Connecticut,Connecticut
2449,2023,152,1361,72,71,N,San Diego St,FL Atlantic,San Diego St
2450,2023,154,1163,76,59,N,San Diego St,Connecticut,Connecticut

In [880]:
tourn_table.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName'],
      dtype='object')

In [881]:
cbb2024_table = pd.read_csv("Data/2024_formatted.csv")

# Check for names ending with '.'
mask = cbb2024_table['TEAM'].str.endswith('.')

# Remove the trailing '.' using 'str.rstrip'
cbb2024_table.loc[mask, 'TEAM'] = cbb2024_table.loc[mask, 'TEAM'].str.rstrip('.')
cbb2024_table = cbb2024_table.rename(columns={'TEAM': 'Team1'})
cbb2024_table = cbb2024_table.drop(cbb2024_table.columns[0], axis=1)

cbb2024_table

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,2P_O,2P_D,3P_O,3P_D,3PR,3PRD,ADJ_T,WAB,WIN_PCT,YEAR
0,Houston,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,36.9,...,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,0.882353,2024
1,Connecticut,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,...,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,0.911765,2024
2,Purdue,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,37.4,...,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,0.878788,2024
3,Iowa St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,31.6,...,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,0.794118,2024
4,Auburn,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,...,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,0.794118,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Saint Peter's,MAAC,96.9,100.2,0.4053,45.0,46.6,19.6,20.3,35.1,...,42.4,46.4,33.9,31.5,31.1,34.5,64.0,-8.8,0.612903,2024
64,Stetson,ASun,108.3,114.1,0.3545,53.4,52.0,15.8,13.5,27.5,...,52.5,52.2,36.5,34.5,41.8,37.4,66.0,-6.8,0.709677,2024
65,Grambling St,SWAC,97.7,106.1,0.2804,48.2,49.1,20.5,19.0,28.1,...,47.0,48.4,34.1,33.7,29.8,33.4,64.9,-8.0,0.645161,2024
66,Howard,MEAC,104.3,113.5,0.2748,51.7,51.1,21.2,16.6,33.3,...,49.1,50.9,37.2,34.4,39.0,33.2,67.8,-12.1,0.545455,2024
67,Wagner,NEC,95.6,104.8,0.2565,45.1,48.3,15.8,16.9,29.1,...,43.3,50.7,32.0,29.8,38.0,41.2,61.4,-11.7,0.566667,2024

In [882]:
cbb2024_table.columns

Index(['Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       '3PR', '3PRD', 'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR'],
      dtype='object')

In [883]:
cbb_table.columns

Index(['Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'Year', 'WIN_PCT'],
      dtype='object')

In [884]:
tourn_table.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName'],
      dtype='object')

In [885]:
merged_stats = tourn_table.merge(cbb_table, on=['Team1', 'Year'], how='left')
merged_stats

,Year,DayNum,WTeamID,WScore,LScore,WLoc,Team1,Team2,WTeamName,CONF,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT
0,1985,136,1116,63,54,N,Iowa,Arkansas,Arkansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,136,1120,59,58,N,Purdue,Auburn,Auburn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1985,136,1207,68,43,N,Georgetown,Lehigh,Georgetown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,136,1229,58,55,N,USC,Illinois St,Illinois St,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985,136,1242,49,38,N,Ohio,Kansas,Kansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2446,2023,146,1274,88,81,N,Texas,Miami FL,Miami FL,B12,...,29.0,30.5,33.7,54.0,47.9,34.7,32.4,68.5,7.5,0.763158
2447,2023,146,1361,57,56,N,Creighton,San Diego St,San Diego St,BE,...,23.5,28.4,19.7,55.1,45.7,35.4,33.6,67.7,2.2,0.648649
2448,2023,152,1163,72,59,N,Miami FL,Connecticut,Connecticut,ACC,...,28.8,30.7,24.0,53.8,51.8,36.8,33.5,68.6,3.7,0.783784
2449,2023,152,1361,72,71,N,San Diego St,FL Atlantic,San Diego St,MWC,...,26.1,33.2,30.2,48.4,49.3,34.0,28.3,65.7,5.7,0.842105
2450,2023,154,1163,76,59,N,San Diego St,Connecticut,Connecticut,MWC,...,26.1,33.2,30.2,48.4,49.3,34.0,28.3,65.7,5.7,0.842105

In [886]:
merged_stats.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O',
       'EFG_D', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D',
       '3P_O', '3P_D', 'ADJ_T', 'WAB', 'WIN_PCT'],
      dtype='object')

In [887]:
merged_stats.columns = ['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1', 'BARTHAG_Team1', 'EFG_O_Team1',
       'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1', '2P_O_Team1', '2P_D_Team1',
       '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1']

In [888]:
cbb_table = cbb_table.rename(columns={'Team1': 'Team2'})

merged_stats_comp = merged_stats.merge(cbb_table, on=['Team2', 'Year'], how='left')
cbb_table = cbb_table.rename(columns={'Team2': 'Team1'})

In [889]:
merged_stats_comp.columns

Index(['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1',
       'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1',
       'WAB_Team1', 'WIN_PCT_Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG',
       'EFG_O', 'EFG_D', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O',
       '2P_D', '3P_O', '3P_D', 'ADJ_T', 'WAB', 'WIN_PCT'],
      dtype='object')

In [890]:
merged_stats_comp.columns = ['Year', 'DayNum', 'WTeamID', 'WScore', 'LScore', 'WLoc', 'Team1',
       'Team2', 'WTeamName', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1', 'CONF_Team2', 'ADJOE_Team2', 'ADJDE_Team2',
       'BARTHAG_Team2', 'EFG_O_Team2', 'EFG_D_Team2', 'TOR_Team2',
       'TORD_Team2', 'ORB_Team2', 'DRB_Team2', 'FTR_Team2', 'FTRD_Team2',
       '2P_O_Team2', '2P_D_Team2', '3P_O_Team2', '3P_D_Team2', 'ADJ_T_Team2',
       'WAB_Team2', 'WIN_PCT_Team2']

In [891]:
merged_stats_comp.head()

,Year,DayNum,WTeamID,WScore,LScore,WLoc,Team1,Team2,WTeamName,CONF_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
0,1985,136,1116,63,54,N,Iowa,Arkansas,Arkansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1985,136,1120,59,58,N,Purdue,Auburn,Auburn,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1985,136,1207,68,43,N,Georgetown,Lehigh,Georgetown,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,136,1229,58,55,N,USC,Illinois St,Illinois St,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985,136,1242,49,38,N,Ohio,Kansas,Kansas,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [892]:
merged_stats_comp = merged_stats_comp.dropna()
merged_stats_comp = merged_stats_comp.drop(["Year", "DayNum", "WTeamID", "WScore", "LScore", "WLoc"], axis = 1)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
merged_stats_comp['CONF_Team1'] = le.fit_transform(merged_stats_comp['CONF_Team1'])
merged_stats_comp['CONF_Team2'] = le.fit_transform(merged_stats_comp['CONF_Team2'])


merged_stats_comp

,Team1,Team2,WTeamName,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
1784,LIU Brooklyn,James Madison,James Madison,20,108.1,111.2,0.4195,54.4,52.6,20.3,...,31.1,36.8,39.2,46.2,46.9,33.6,34.7,64.2,-8.9,0.583333
1785,Boise St,La Salle,La Salle,19,112.0,97.4,0.8332,51.8,51.4,18.4,...,34.2,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,0.705882
1786,Arizona,Belmont,Arizona,22,114.4,92.2,0.9229,52.5,46.6,19.5,...,34.2,32.8,37.0,56.9,46.7,37.2,33.5,67.4,0.1,0.774194
1787,Bucknell,Butler,Butler,23,104.7,93.1,0.7936,49.6,42.5,15.1,...,26.3,38.4,36.1,50.2,45.3,34.3,33.2,64.7,4.7,0.742857
1788,UNLV,California,California,19,104.7,88.4,0.8749,48.9,44.1,20.2,...,30.7,31.2,32.5,48.8,41.7,30.2,33.6,66.5,0.5,0.636364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444,Gonzaga,Connecticut,Connecticut,29,123.2,99.0,0.9251,57.6,51.4,14.8,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872
2446,Texas,Miami FL,Miami FL,6,116.1,91.8,0.9371,53.3,48.1,16.3,...,28.8,30.7,24.0,53.8,51.8,36.8,33.5,68.6,3.7,0.783784
2447,Creighton,San Diego St,San Diego St,7,115.0,93.2,0.9177,54.2,47.1,16.6,...,26.1,33.2,30.2,48.4,49.3,34.0,28.3,65.7,5.7,0.842105
2448,Miami FL,Connecticut,Connecticut,1,119.1,100.9,0.8715,54.3,51.2,16.1,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872
2450,San Diego St,Connecticut,Connecticut,19,110.8,89.5,0.9205,49.3,46.5,17.3,...,26.1,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872

In [893]:
cbb2024_table.head()

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,2P_O,2P_D,3P_O,3P_D,3PR,3PRD,ADJ_T,WAB,WIN_PCT,YEAR
0,Houston,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,36.9,...,48.4,43.4,34.7,30.0,36.6,40.9,63.4,10.4,0.882353,2024
1,Connecticut,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,...,58.5,43.7,36.7,31.9,40.9,33.2,64.6,11.0,0.911765,2024
2,Purdue,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,37.4,...,53.2,48.1,40.8,31.4,35.0,37.2,67.6,10.9,0.878788,2024
3,Iowa St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,31.6,...,51.7,46.9,34.9,31.5,32.0,45.0,67.6,6.7,0.794118,2024
4,Auburn,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,...,54.9,42.8,35.2,29.8,37.5,33.3,69.9,5.4,0.794118,2024

In [894]:
cbb2024_table.drop(columns = ["3PR", "3PRD"], axis = 1, inplace = True)
cbb2024_table.columns

Index(['Team1', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR'],
      dtype='object')

In [895]:
cbb_table.columns = ['Team2', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR']
cbb_table.columns

Index(['Team2', 'CONF', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D', 'TOR',
       'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O', '3P_D',
       'ADJ_T', 'WAB', 'WIN_PCT', 'YEAR'],
      dtype='object')

In [896]:
cbb_table.head()

,Team2,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT,YEAR
0,North Carolina,ACC,123.3,94.9,0.9531,52.6,48.1,15.4,18.2,40.7,...,32.3,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2016,0.825000
1,Wisconsin,B10,129.1,93.6,0.9758,54.8,47.7,12.4,15.8,32.1,...,36.2,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2015,0.900000
2,Michigan,B10,114.4,90.4,0.9375,53.9,47.7,14.0,19.5,25.5,...,30.7,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2018,0.825000
3,Texas Tech,B12,115.2,85.2,0.9696,53.5,43.0,17.7,22.8,27.4,...,32.9,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2019,0.815789
4,Gonzaga,WCC,117.8,86.3,0.9728,56.6,41.1,16.2,17.1,30.0,...,39.0,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2017,0.948718

In [897]:
cbb2024_table.head()

,Team1,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT,YEAR
0,Houston,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,36.9,...,29.9,39.0,48.4,43.4,34.7,30.0,63.4,10.4,0.882353,2024
1,Connecticut,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,...,33.3,32.5,58.5,43.7,36.7,31.9,64.6,11.0,0.911765,2024
2,Purdue,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,37.4,...,42.8,23.0,53.2,48.1,40.8,31.4,67.6,10.9,0.878788,2024
3,Iowa St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,31.6,...,36.1,35.2,51.7,46.9,34.9,31.5,67.6,6.7,0.794118,2024
4,Auburn,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,...,38.2,41.0,54.9,42.8,35.2,29.8,69.9,5.4,0.794118,2024

In [898]:
bracket_list = [['Connecticut','Stetson'],['Florida Atlantic','Northwestern'],['San Diego St','UAB'],['Auburn','Yale'],['BYU','Duquesne'],['Illinois','Morehead St'],['Washington St','Drake'],['Iowa St','South Dakota St'],['North Carolina','Wagner'],['Mississippi St','Michigan St'],['Saint Mary\'s','Grand Canyon'],['Alabama','College of Charleston'],['Clemson','New Mexico'],['Baylor','Colgate'],['Dayton','Nevada'],['Arizona','Long Beach St'],['Houston','Longwood'],['Nebraska','Texas A&M'],['Wisconsin','James Madison'],['Duke','Vermont'],['Texas Tech','NC State'],['Kentucky','Oakland'],['Florida','Colorado'],['Marquette','Western Kentucky'],['Purdue','Grambling St'],['Utah St','TCU'],['Gonzaga','McNeese St'],['Kansas','Samford'],['South Carolina','Oregon'],['Creighton','Akron'],['Texas','Virginia'],['Tennessee','Saint Peter\'s']]
mm2024_matchups = pd.DataFrame(bracket_list, columns = ['Team1','Team2'])

mm2024_matchups

               Team1                  Team2
0        Connecticut                Stetson
1   Florida Atlantic           Northwestern
2       San Diego St                    UAB
3             Auburn                   Yale
4                BYU               Duquesne
5           Illinois            Morehead St
6      Washington St                  Drake
7            Iowa St        South Dakota St
8     North Carolina                 Wagner
9     Mississippi St            Michigan St
10      Saint Mary's           Grand Canyon
11           Alabama  College of Charleston
12           Clemson             New Mexico
13            Baylor                Colgate
14            Dayton                 Nevada
15           Arizona          Long Beach St
16           Houston               Longwood
17          Nebraska              Texas A&M
18         Wisconsin          James Madison
19              Duke                Vermont
20        Texas Tech               NC State
21          Kentucky                Oakland
22           Florida               Colorado
23         Marquette       Western Kentucky
24            Purdue           Grambling St
25           Utah St                    TCU
26           Gonzaga             McNeese St
27            Kansas                Samford
28    South Carolina                 Oregon
29         Creighton                  Akron
30             Texas               Virginia
31         Tennessee          Saint Peter's

In [899]:
mm2024_merged = mm2024_matchups.merge(cbb2024_table, on=['Team1'], how='left')
mm2024_merged.drop(["YEAR"], axis = 1, inplace = True)
cbb2024_table = cbb2024_table.rename(columns={'Team2': 'Team1'})
                                                      
mm2024_merged.head()

,Team1,Team2,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT
0,Connecticut,Stetson,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,...,26.8,33.3,32.5,58.5,43.7,36.7,31.9,64.6,11.0,0.911765
1,Florida Atlantic,Northwestern,Amer,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,...,29.2,34.8,27.5,56.0,49.3,35.6,33.6,68.0,1.3,0.757576
2,San Diego St,UAB,MWC,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,...,28.0,37.5,33.3,51.6,48.3,31.3,30.5,66.1,2.8,0.750000
3,Auburn,Yale,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,...,30.3,38.2,41.0,54.9,42.8,35.2,29.8,69.9,5.4,0.794118
4,BYU,Duquesne,B12,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,...,24.7,25.3,32.1,58.0,48.2,34.8,31.8,69.0,2.7,0.696970

In [900]:
mm2024_merged.columns = ['Team1','Team2', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1']
cbb2024_table = cbb2024_table.rename(columns={'Team1': 'Team2'})

mm2024_merged_comp = mm2024_merged.merge(cbb2024_table, on=['Team2'], how='left')
mm2024_merged_comp.drop(["YEAR"], axis = 1, inplace = True)
mm2024_merged_comp.columns = ['Team1','Team2', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1', 'CONF_Team2', 'ADJOE_Team2', 'ADJDE_Team2',
       'BARTHAG_Team2', 'EFG_O_Team2', 'EFG_D_Team2', 'TOR_Team2',
       'TORD_Team2', 'ORB_Team2', 'DRB_Team2', 'FTR_Team2', 'FTRD_Team2',
       '2P_O_Team2', '2P_D_Team2', '3P_O_Team2', '3P_D_Team2', 'ADJ_T_Team2',
       'WAB_Team2', 'WIN_PCT_Team2']


                                                      
mm2024_merged_comp

,Team1,Team2,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,TORD_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
0,Connecticut,Stetson,BE,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,...,31.2,31.7,25.9,52.5,52.2,36.5,34.5,66.0,-6.80,0.709677
1,Florida Atlantic,Northwestern,Amer,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,...,28.2,29.9,39.4,49.7,50.3,39.4,35.9,63.7,1.40,0.656250
2,San Diego St,UAB,MWC,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,...,31.0,40.5,31.4,50.4,50.2,33.1,35.0,67.8,-2.60,0.696970
3,Auburn,Yale,SEC,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,...,24.0,26.9,29.0,52.5,48.8,34.6,34.0,64.7,-2.50,0.758621
4,BYU,Duquesne,B12,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,...,30.0,33.1,35.3,49.6,48.4,33.9,31.7,66.3,-1.80,0.705882
5,Illinois,Morehead St,B10,125.3,101.2,0.9214,53.8,48.0,15.1,12.3,...,26.4,31.3,32.7,55.6,45.4,35.3,31.1,64.3,-3.40,0.866667
6,Washington St,Drake,P12,112.8,96.6,0.8563,52.1,47.3,16.1,15.9,...,22.1,32.6,31.0,55.1,51.9,36.5,33.0,67.8,1.70,0.848485
7,Iowa St,South Dakota St,B12,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,...,25.3,30.4,27.4,55.9,49.0,36.2,35.2,67.9,-7.50,0.709677
8,North Carolina,Wagner,ACC,116.8,93.4,0.9291,51.3,46.4,14.4,14.9,...,27.2,26.4,30.1,43.3,50.7,32.0,29.8,61.4,-11.70,0.566667
9,Mississippi St,Michigan St,SEC,112.6,95.0,0.8761,51.7,47.7,18.7,18.2,...,28.7,29.9,32.6,50.5,47.1,35.9,32.8,65.3,0.12,0.575758
10,Saint Mary's,Grand Canyon,WCC,115.9,93.6,0.9207,53.1,45.1,16.0,16.7,...,29.6,45.3,34.8,52.3,44.4,34.4,32.6,68.1,1.40,0.906250
11,Alabama,College of Charleston,SEC,125.1,102.2,0.9112,56.3,49.9,16.0,15.6,...,26.6,26.9,28.3,52.6,50.5,34.8,33.8,70.0,-1.60,0.818182
12,Clemson,New Mexico,ACC,116.7,99.4,0.8630,53.9,48.7,14.9,13.6,...,27.0,33.1,33.5,51.4,49.2,33.4,30.6,72.8,1.90,0.764706
13,Baylor,Colgate,B12,122.1,100.1,0.9077,55.6,51.3,17.7,17.1,...,24.5,27.6,24.5,53.3,48.7,35.7,29.9,66.2,-4.10,0.757576
14,Dayton,Nevada,A10,117.5,100.8,0.8535,56.6,47.9,15.8,15.7,...,27.2,46.2,34.3,52.6,49.1,36.5,31.3,66.8,2.90,0.812500
15,Arizona,Long Beach St,P12,121.6,93.6,0.9530,55.0,48.7,16.1,18.1,...,29.6,38.1,32.6,49.7,50.0,31.3,35.1,71.5,-8.10,0.636364
16,Houston,Longwood,B12,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,...,25.5,39.5,36.1,48.6,50.9,34.2,34.6,66.9,-8.70,0.677419
17,Nebraska,Texas A&M,B10,115.7,95.6,0.8995,53.2,46.3,15.9,16.4,...,28.0,38.2,31.2,47.0,49.5,28.4,33.9,65.6,0.10,0.588235
18,Wisconsin,James Madison,B10,119.8,98.9,0.9004,52.4,52.2,14.6,16.9,...,27.6,34.2,35.1,54.2,48.8,36.5,28.6,69.8,1.50,0.939394
19,Duke,Vermont,ACC,120.8,97.0,0.9259,55.2,49.0,14.3,16.9,...,23.3,29.7,25.9,53.1,46.4,33.5,31.5,63.4,-1.20,0.875000
20,Texas Tech,NC State,B12,117.3,98.6,0.8810,52.8,49.1,16.5,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Kentucky,Oakland,SEC,123.0,102.3,0.8923,57.4,49.5,14.2,16.0,...,28.6,30.9,26.8,51.8,50.5,35.1,33.9,66.8,-4.20,0.676471
22,Florida,Colorado,SEC,119.6,99.4,0.8938,51.5,48.8,15.8,14.5,...,24.0,35.3,28.1,53.6,50.1,39.4,31.9,67.7,1.70,0.705882
23,Marquette,Western Kentucky,BE,118.8,94.8,0.9302,55.1,49.7,14.3,21.1,...,26.7,32.9,33.4,52.1,48.3,34.4,32.2,75.1,-6.60,0.733333
24,Purdue,Grambling St,B10,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,...,32.7,39.6,33.9,47.0,48.4,34.1,33.7,64.9,-8.00,0.645161
25,Utah St,TCU,MWC,114.4,100.3,0.8197,54.1,49.6,15.7,16.4,...,28.6,35.1,35.7,51.2,50.9,35.6,32.8,69.9,1.10,0.636364
26,Gonzaga,McNeese St,WCC,121.4,98.6,0.9158,56.7,47.3,14.0,16.5,...,30.4,40.6,33.9,52.8,46.3,39.4,33.0,65.4,0.70,1.034483
27,Kansas,Samford,B12,113.3,92.9,0.9078,53.4,47.6,16.4,16.8,...,32.0,36.4,37.0,55.5,49.5,39.3,33.9,72.6,0.05,0.906250
28,South Carolina,Oregon,SEC,114.4,99.0,0.8403,50.8,48.0,15.5,14.9,...,27.1,32.3,32.8,52.7,51.6,33.6,34.3,67.2,1.40,0.676471
29,Creighton,Akron,BE,120.6,96.7,0.9269,57.5,46.4,15.3,11.2,...,25.6,33.6,29.0,54.8,50.7,32.0,30.0,65.7,-4.50,0.750000
30,Texas,Virginia,B12,118.9,98.4,0.8976,53.7,49.0,16.6,18.6,...,28.1,25.3,25.8,46.2,47.2,35.8,30.5,60.1,1.10,0.676471
31,Tennessee,Saint Peter's,SEC,115.5,91.3,0.9371,51.5,45.4,14.6,18.9,...,29.4,38.1,42.3,42.4,46.4,33.9,31.5,64.0,-8.80,0.612903

In [901]:
merged_stats_comp["WTeamBinary"] = None

for idx, row in merged_stats_comp.iterrows():
    merged_stats_comp.at[idx, "Team1"] = name_to_id[row["Team1"]]
    merged_stats_comp.at[idx, "Team2"] = name_to_id[row["Team2"]]
    merged_stats_comp.at[idx, "WTeamName"] = name_to_id[row["WTeamName"]]
    
    if(row["WTeamName"] == row["Team1"]):
        merged_stats_comp.at[idx, "WTeamBinary"] = 1
    else:
        merged_stats_comp.at[idx, "WTeamBinary"] = 2
    
for idx, row in mm2024_merged_comp.iterrows():
    mm2024_merged_comp.at[idx, "Team1"] = name_to_id[row["Team1"]]
    mm2024_merged_comp.at[idx, "Team2"] = name_to_id[row["Team2"]]

merged_stats_comp = merged_stats_comp.drop(["WTeamName"], axis = 1)
merged_stats_comp

,Team1,Team2,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,TORD_Team1,...,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2,WTeamBinary
1784,1254,1241,20,108.1,111.2,0.4195,54.4,52.6,20.3,18.4,...,36.8,39.2,46.2,46.9,33.6,34.7,64.2,-8.9,0.583333,2
1785,1129,1247,19,112.0,97.4,0.8332,51.8,51.4,18.4,20.0,...,31.3,28.5,49.3,50.6,37.7,30.2,66.0,0.3,0.705882,2
1786,1112,1125,22,114.4,92.2,0.9229,52.5,46.6,19.5,19.8,...,32.8,37.0,56.9,46.7,37.2,33.5,67.4,0.1,0.774194,1
1787,1137,1139,23,104.7,93.1,0.7936,49.6,42.5,15.1,14.1,...,38.4,36.1,50.2,45.3,34.3,33.2,64.7,4.7,0.742857,2
1788,1424,1143,19,104.7,88.4,0.8749,48.9,44.1,20.2,18.5,...,31.2,32.5,48.8,41.7,30.2,33.6,66.5,0.5,0.636364,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2444,1211,1163,29,123.2,99.0,0.9251,57.6,51.4,14.8,17.8,...,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872,2
2446,1400,1274,6,116.1,91.8,0.9371,53.3,48.1,16.3,22.1,...,30.7,24.0,53.8,51.8,36.8,33.5,68.6,3.7,0.783784,2
2447,1166,1361,7,115.0,93.2,0.9177,54.2,47.1,16.6,13.9,...,33.2,30.2,48.4,49.3,34.0,28.3,65.7,5.7,0.842105,2
2448,1274,1163,1,119.1,100.9,0.8715,54.3,51.2,16.1,18.1,...,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872,2
2450,1361,1163,19,110.8,89.5,0.9205,49.3,46.5,17.3,19.1,...,30.8,37.8,53.6,44.4,36.3,29.7,66.7,5.0,0.794872,2

In [902]:
## Machine Learning -- yay :) ##

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics



labels = np.array(merged_stats_comp['WTeamBinary'])
labels = labels.astype('int')

merged_stats_comp = merged_stats_comp.drop(["WTeamBinary"], axis = 1)
le = LabelEncoder()
mm2024_merged_comp['CONF_Team1'] = le.fit_transform(mm2024_merged_comp['CONF_Team1'])
mm2024_merged_comp['CONF_Team2'] = le.fit_transform(mm2024_merged_comp['CONF_Team2'])



mm2024_merged_comp

,Team1,Team2,CONF_Team1,ADJOE_Team1,ADJDE_Team1,BARTHAG_Team1,EFG_O_Team1,EFG_D_Team1,TOR_Team1,TORD_Team1,...,DRB_Team2,FTR_Team2,FTRD_Team2,2P_O_Team2,2P_D_Team2,3P_O_Team2,3P_D_Team2,ADJ_T_Team2,WAB_Team2,WIN_PCT_Team2
0,1163,1391,5,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,...,31.2,31.7,25.9,52.5,52.2,36.5,34.5,66.0,-6.80,0.709677
1,1198,1321,2,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,...,28.2,29.9,39.4,49.7,50.3,39.4,35.9,63.7,1.40,0.656250
2,1361,1412,6,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,...,31.0,40.5,31.4,50.4,50.2,33.1,35.0,67.8,-2.60,0.696970
3,1120,1463,8,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,...,24.0,26.9,29.0,52.5,48.8,34.6,34.0,64.7,-2.50,0.758621
4,1140,1182,4,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,...,30.0,33.1,35.3,49.6,48.4,33.9,31.7,66.3,-1.80,0.705882
5,1228,1287,3,125.3,101.2,0.9214,53.8,48.0,15.1,12.3,...,26.4,31.3,32.7,55.6,45.4,35.3,31.1,64.3,-3.40,0.866667
6,1450,1179,7,112.8,96.6,0.8563,52.1,47.3,16.1,15.9,...,22.1,32.6,31.0,55.1,51.9,36.5,33.0,67.8,1.70,0.848485
7,1235,1355,4,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,...,25.3,30.4,27.4,55.9,49.0,36.2,35.2,67.9,-7.50,0.709677
8,1314,1447,1,116.8,93.4,0.9291,51.3,46.4,14.4,14.9,...,27.2,26.4,30.1,43.3,50.7,32.0,29.8,61.4,-11.70,0.566667
9,1280,1277,8,112.6,95.0,0.8761,51.7,47.7,18.7,18.2,...,28.7,29.9,32.6,50.5,47.1,35.9,32.8,65.3,0.12,0.575758
10,1388,1213,9,115.9,93.6,0.9207,53.1,45.1,16.0,16.7,...,29.6,45.3,34.8,52.3,44.4,34.4,32.6,68.1,1.40,0.906250
11,1104,1158,8,125.1,102.2,0.9112,56.3,49.9,16.0,15.6,...,26.6,26.9,28.3,52.6,50.5,34.8,33.8,70.0,-1.60,0.818182
12,1155,1307,1,116.7,99.4,0.8630,53.9,48.7,14.9,13.6,...,27.0,33.1,33.5,51.4,49.2,33.4,30.6,72.8,1.90,0.764706
13,1124,1159,4,122.1,100.1,0.9077,55.6,51.3,17.7,17.1,...,24.5,27.6,24.5,53.3,48.7,35.7,29.9,66.2,-4.10,0.757576
14,1173,1305,0,117.5,100.8,0.8535,56.6,47.9,15.8,15.7,...,27.2,46.2,34.3,52.6,49.1,36.5,31.3,66.8,2.90,0.812500
15,1112,1253,7,121.6,93.6,0.9530,55.0,48.7,16.1,18.1,...,29.6,38.1,32.6,49.7,50.0,31.3,35.1,71.5,-8.10,0.636364
16,1222,1255,4,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,...,25.5,39.5,36.1,48.6,50.9,34.2,34.6,66.9,-8.70,0.677419
17,1304,1401,3,115.7,95.6,0.8995,53.2,46.3,15.9,16.4,...,28.0,38.2,31.2,47.0,49.5,28.4,33.9,65.6,0.10,0.588235
18,1458,1241,3,119.8,98.9,0.9004,52.4,52.2,14.6,16.9,...,27.6,34.2,35.1,54.2,48.8,36.5,28.6,69.8,1.50,0.939394
19,1181,1436,1,120.8,97.0,0.9259,55.2,49.0,14.3,16.9,...,23.3,29.7,25.9,53.1,46.4,33.5,31.5,63.4,-1.20,0.875000
20,1403,1301,4,117.3,98.6,0.8810,52.8,49.1,16.5,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1184,1324,8,123.0,102.3,0.8923,57.4,49.5,14.2,16.0,...,28.6,30.9,26.8,51.8,50.5,35.1,33.9,66.8,-4.20,0.676471
22,1196,1160,8,119.6,99.4,0.8938,51.5,48.8,15.8,14.5,...,24.0,35.3,28.1,53.6,50.1,39.4,31.9,67.7,1.70,0.705882
23,1266,1246,5,118.8,94.8,0.9302,55.1,49.7,14.3,21.1,...,26.7,32.9,33.4,52.1,48.3,34.4,32.2,75.1,-6.60,0.733333
24,1345,1212,3,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,...,32.7,39.6,33.9,47.0,48.4,34.1,33.7,64.9,-8.00,0.645161
25,1429,1395,6,114.4,100.3,0.8197,54.1,49.6,15.7,16.4,...,28.6,35.1,35.7,51.2,50.9,35.6,32.8,69.9,1.10,0.636364
26,1211,1270,9,121.4,98.6,0.9158,56.7,47.3,14.0,16.5,...,30.4,40.6,33.9,52.8,46.3,39.4,33.0,65.4,0.70,1.034483
27,1242,1359,4,113.3,92.9,0.9078,53.4,47.6,16.4,16.8,...,32.0,36.4,37.0,55.5,49.5,39.3,33.9,72.6,0.05,0.906250
28,1376,1332,8,114.4,99.0,0.8403,50.8,48.0,15.5,14.9,...,27.1,32.3,32.8,52.7,51.6,33.6,34.3,67.2,1.40,0.676471
29,1166,1103,5,120.6,96.7,0.9269,57.5,46.4,15.3,11.2,...,25.6,33.6,29.0,54.8,50.7,32.0,30.0,65.7,-4.50,0.750000
30,1400,1438,4,118.9,98.4,0.8976,53.7,49.0,16.6,18.6,...,28.1,25.3,25.8,46.2,47.2,35.8,30.5,60.1,1.10,0.676471
31,1397,1389,8,115.5,91.3,0.9371,51.5,45.4,14.6,18.9,...,29.4,38.1,42.3,42.4,46.4,33.9,31.5,64.0,-8.80,0.612903

In [903]:
mm2024_individual_teams1 = mm2024_merged_comp
mm2024_individual_teams2 = mm2024_merged_comp



mm2024_individual_teams2 = mm2024_individual_teams2.drop(columns = ['Team1', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1'], axis = 1)

mm2024_individual_teams2.columns = ['Team', 'CONF', 'ADJOE', 'ADJDE',
       'BARTHAG', 'EFG_O', 'EFG_D', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD',
       '2P_O', '2P_D', '3P_O', '3P_D', 'ADJ_T', 'WAB', 'WIN_PCT']




mm2024_individual_teams2

,Team,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT
0,1391,3,108.3,114.1,0.3545,53.4,52.0,15.8,13.5,27.5,31.2,31.7,25.9,52.5,52.2,36.5,34.5,66.0,-6.80,0.709677
1,1321,5,117.1,99.2,0.8706,53.2,51.6,13.3,18.8,25.7,28.2,29.9,39.4,49.7,50.3,39.4,35.9,63.7,1.40,0.656250
2,1412,4,112.9,106.2,0.6678,50.1,51.0,16.7,16.1,35.3,31.0,40.5,31.4,50.4,50.2,33.1,35.0,67.8,-2.60,0.696970
3,1463,12,109.8,100.0,0.7455,52.3,49.7,14.1,16.0,28.4,24.0,26.9,29.0,52.5,48.8,34.6,34.0,64.7,-2.50,0.758621
4,1182,0,106.4,96.2,0.7619,50.1,48.0,17.5,19.5,29.9,30.0,33.1,35.3,49.6,48.4,33.9,31.7,66.3,-1.80,0.705882
5,1287,18,106.7,103.4,0.5882,54.4,45.7,18.5,15.5,32.0,26.4,31.3,32.7,55.6,45.4,35.3,31.1,64.3,-3.40,0.866667
6,1179,15,114.9,100.2,0.8283,54.9,51.0,13.9,17.4,24.2,22.1,32.6,31.0,55.1,51.9,36.5,33.0,67.8,1.70,0.848485
7,1355,26,107.6,104.5,0.5842,55.3,50.8,16.4,16.5,24.4,25.3,30.4,27.4,55.9,49.0,36.2,35.2,67.9,-7.50,0.709677
8,1447,17,95.6,104.8,0.2565,45.1,48.3,15.8,16.9,29.1,27.2,26.4,30.1,43.3,50.7,32.0,29.8,61.4,-11.70,0.566667
9,1277,5,112.7,93.3,0.8976,51.5,48.0,14.7,18.7,29.9,28.7,29.9,32.6,50.5,47.1,35.9,32.8,65.3,0.12,0.575758
10,1213,27,111.2,99.8,0.7770,52.0,45.9,17.8,19.9,34.6,29.6,45.3,34.8,52.3,44.4,34.4,32.6,68.1,1.40,0.906250
11,1158,9,113.4,105.2,0.7028,52.4,50.6,14.3,16.4,33.5,26.6,26.9,28.3,52.6,50.5,34.8,33.8,70.0,-1.60,0.818182
12,1307,16,115.1,95.4,0.8966,51.0,48.0,13.9,19.5,33.4,27.0,33.1,33.5,51.4,49.2,33.4,30.6,72.8,1.90,0.764706
13,1159,20,102.3,101.8,0.5151,53.4,47.2,16.3,16.1,25.0,24.5,27.6,24.5,53.3,48.7,35.7,29.9,66.2,-4.10,0.757576
14,1305,16,115.4,97.9,0.8688,53.3,48.2,15.0,17.3,27.5,27.2,46.2,34.3,52.6,49.1,36.5,31.3,66.8,2.90,0.812500
15,1253,8,105.4,107.9,0.4323,48.9,51.2,17.1,18.5,33.3,29.6,38.1,32.6,49.7,50.0,31.3,35.1,71.5,-8.10,0.636364
16,1255,7,104.0,104.9,0.4768,49.4,51.3,18.0,19.6,36.7,25.5,39.5,36.1,48.6,50.9,34.2,34.6,66.9,-8.70,0.677419
17,1401,23,115.1,99.1,0.8481,45.4,50.1,14.2,16.9,41.9,28.0,38.2,31.2,47.0,49.5,28.4,33.9,65.6,0.10,0.588235
18,1241,21,112.1,100.5,0.7780,54.4,46.7,14.7,19.8,32.0,27.6,34.2,35.1,54.2,48.8,36.5,28.6,69.8,1.50,0.939394
19,1436,2,104.6,98.7,0.6602,51.8,46.7,13.8,15.1,22.4,23.3,29.7,25.9,53.1,46.4,33.5,31.5,63.4,-1.20,0.875000
20,1301,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1324,11,107.8,104.7,0.5851,52.1,50.6,16.2,16.3,30.6,28.6,30.9,26.8,51.8,50.5,35.1,33.9,66.8,-4.20,0.676471
22,1160,19,117.3,98.0,0.8877,55.3,49.3,18.1,15.2,32.4,24.0,35.3,28.1,53.6,50.1,39.4,31.9,67.7,1.70,0.705882
23,1246,10,105.3,101.8,0.5956,51.9,48.3,18.3,18.6,28.5,26.7,32.9,33.4,52.1,48.3,34.4,32.2,75.1,-6.60,0.733333
24,1212,24,97.7,106.1,0.2804,48.2,49.1,20.5,19.0,28.1,32.7,39.6,33.9,47.0,48.4,34.1,33.7,64.9,-8.00,0.645161
25,1395,6,114.3,97.3,0.8650,51.9,50.3,17.9,20.8,35.5,28.6,35.1,35.7,51.2,50.9,35.6,32.8,69.9,1.10,0.636364
26,1270,25,111.3,101.1,0.7503,54.9,47.8,14.2,23.0,32.1,30.4,40.6,33.9,52.8,46.3,39.4,33.0,65.4,0.70,1.034483
27,1359,22,111.8,102.5,0.7314,56.9,50.0,18.1,21.7,30.2,32.0,36.4,37.0,55.5,49.5,39.3,33.9,72.6,0.05,0.906250
28,1332,19,113.3,99.5,0.8157,51.8,51.5,14.8,17.9,28.7,27.1,32.3,32.8,52.7,51.6,33.6,34.3,67.2,1.40,0.676471
29,1103,14,105.1,101.6,0.5943,52.0,48.6,17.2,16.6,29.5,25.6,33.6,29.0,54.8,50.7,32.0,30.0,65.7,-4.50,0.750000
30,1438,1,103.6,92.2,0.7914,48.6,46.6,13.0,19.4,25.6,28.1,25.3,25.8,46.2,47.2,35.8,30.5,60.1,1.10,0.676471
31,1389,13,96.9,100.2,0.4053,45.0,46.6,19.6,20.3,35.1,29.4,38.1,42.3,42.4,46.4,33.9,31.5,64.0,-8.80,0.612903

In [904]:
mm2024_individual_teams1 = mm2024_individual_teams1.drop(columns = ['Team2','CONF_Team2', 'ADJOE_Team2', 'ADJDE_Team2',
       'BARTHAG_Team2', 'EFG_O_Team2', 'EFG_D_Team2', 'TOR_Team2',
       'TORD_Team2', 'ORB_Team2', 'DRB_Team2', 'FTR_Team2', 'FTRD_Team2',
       '2P_O_Team2', '2P_D_Team2', '3P_O_Team2', '3P_D_Team2', 'ADJ_T_Team2',
       'WAB_Team2', 'WIN_PCT_Team2'], axis = 1)

mm2024_individual_teams1.columns = ['Team', 'CONF', 'ADJOE', 'ADJDE',
       'BARTHAG', 'EFG_O', 'EFG_D', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD',
       '2P_O', '2P_D', '3P_O', '3P_D', 'ADJ_T', 'WAB', 'WIN_PCT']



mm2024_individual_teams1

,Team,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT
0,1163,5,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,26.8,33.3,32.5,58.5,43.7,36.7,31.9,64.6,11.0,0.911765
1,1198,2,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,33.8,29.2,34.8,27.5,56.0,49.3,35.6,33.6,68.0,1.3,0.757576
2,1361,6,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,32.7,28.0,37.5,33.3,51.6,48.3,31.3,30.5,66.1,2.8,0.750000
3,1120,8,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,30.3,38.2,41.0,54.9,42.8,35.2,29.8,69.9,5.4,0.794118
4,1140,4,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,32.8,24.7,25.3,32.1,58.0,48.2,34.8,31.8,69.0,2.7,0.696970
5,1228,3,125.3,101.2,0.9214,53.8,48.0,15.1,12.3,36.2,26.1,37.8,27.1,54.7,46.6,34.9,34.3,69.9,5.9,0.764706
6,1450,7,112.8,96.6,0.8563,52.1,47.3,16.1,15.9,32.9,24.9,31.7,32.7,52.6,46.9,34.0,32.0,64.9,2.0,0.727273
7,1235,4,113.5,86.7,0.9569,51.9,47.1,15.7,25.7,31.6,29.4,36.1,35.2,51.7,46.9,34.9,31.5,67.6,6.7,0.794118
8,1314,1,116.8,93.4,0.9291,51.3,46.4,14.4,14.9,32.8,23.5,36.8,28.3,50.3,46.0,35.4,31.4,70.4,6.4,0.794118
9,1280,8,112.6,95.0,0.8761,51.7,47.7,18.7,18.2,35.4,27.6,37.9,32.4,53.4,50.2,32.5,29.4,67.2,0.7,0.617647
10,1388,9,115.9,93.6,0.9207,53.1,45.1,16.0,16.7,39.0,22.4,28.3,32.2,53.0,43.6,35.5,32.4,62.1,1.5,0.812500
11,1104,8,125.1,102.2,0.9112,56.3,49.9,16.0,15.6,34.9,29.9,35.2,39.6,57.6,51.1,36.5,31.9,72.5,3.3,0.656250
12,1155,1,116.7,99.4,0.8630,53.9,48.7,14.9,13.6,27.7,25.2,30.6,31.2,54.4,47.1,35.4,34.0,66.2,0.8,0.656250
13,1124,4,122.1,100.1,0.9077,55.6,51.3,17.7,17.1,35.1,27.1,40.5,30.9,53.4,51.9,39.4,33.5,65.8,4.9,0.718750
14,1173,0,117.5,100.8,0.8535,56.6,47.9,15.8,15.7,26.9,29.0,37.2,21.8,53.7,48.2,40.2,31.7,64.0,2.5,0.774194
15,1112,7,121.6,93.6,0.9530,55.0,48.7,16.1,18.1,36.3,23.1,36.7,25.7,54.6,47.8,37.1,33.4,72.1,4.9,0.757576
16,1222,4,119.1,85.7,0.9778,49.7,44.0,13.7,24.7,36.9,30.2,29.9,39.0,48.4,43.4,34.7,30.0,63.4,10.4,0.882353
17,1304,3,115.7,95.6,0.8995,53.2,46.3,15.9,16.4,27.8,30.0,32.4,27.7,52.8,45.2,35.8,31.9,68.7,2.3,0.696970
18,1458,3,119.8,98.9,0.9004,52.4,52.2,14.6,16.9,30.5,24.5,33.5,33.2,52.6,50.4,34.8,37.1,65.0,3.2,0.628571
19,1181,1,120.8,97.0,0.9259,55.2,49.0,14.3,16.9,31.8,25.9,33.8,27.6,54.4,49.1,37.7,32.6,66.9,3.2,0.750000
20,1403,4,117.3,98.6,0.8810,52.8,49.1,16.5,17.0,30.2,30.3,34.6,26.6,51.5,49.6,36.5,32.1,66.5,3.2,0.696970
21,1184,8,123.0,102.3,0.8923,57.4,49.5,14.2,16.0,28.9,30.2,30.4,33.4,54.7,49.8,41.2,32.6,72.5,2.8,0.718750
22,1196,8,119.6,99.4,0.8938,51.5,48.8,15.8,14.5,37.5,28.9,38.6,34.2,51.7,49.0,34.2,32.2,71.6,2.8,0.685714
23,1266,5,118.8,94.8,0.9302,55.1,49.7,14.3,21.1,26.0,30.8,25.6,28.2,56.0,49.2,35.8,33.6,69.1,6.2,0.735294
24,1345,3,126.2,94.8,0.9640,56.0,47.7,16.5,14.0,37.4,24.7,42.8,23.0,53.2,48.1,40.8,31.4,67.6,10.9,0.878788
25,1429,6,114.4,100.3,0.8197,54.1,49.6,15.7,16.4,28.5,25.4,40.0,30.4,57.1,53.1,32.1,29.0,68.6,3.5,0.870968
26,1211,9,121.4,98.6,0.9158,56.7,47.3,14.0,16.5,33.3,27.2,31.5,25.8,58.3,45.1,35.5,34.0,69.1,2.5,0.806452
27,1242,4,113.3,92.9,0.9078,53.4,47.6,16.4,16.8,25.3,26.4,32.8,28.5,54.8,45.3,33.3,33.8,68.9,4.1,0.709677
28,1376,8,114.4,99.0,0.8403,50.8,48.0,15.5,14.9,33.1,28.0,31.8,30.8,51.1,46.8,33.5,33.6,63.0,4.7,0.787879
29,1166,5,120.6,96.7,0.9269,57.5,46.4,15.3,11.2,25.9,24.6,24.5,16.2,60.6,45.7,36.1,32.2,67.0,4.2,0.718750
30,1400,4,118.9,98.4,0.8976,53.7,49.0,16.6,18.6,30.5,30.0,30.4,35.0,53.4,47.4,36.1,34.8,67.2,1.0,0.625000
31,1397,8,115.5,91.3,0.9371,51.5,45.4,14.6,18.9,32.4,28.6,34.3,35.8,51.6,44.3,34.2,31.4,69.3,5.6,0.750000

In [905]:
mm2024_individual_teams = pd.concat([mm2024_individual_teams1, mm2024_individual_teams2])
mm2024_individual_teams["YEAR"] = 2024
mm2024_individual_teams

,Team,CONF,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,...,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,WIN_PCT,YEAR
0,1163,5,126.9,93.8,0.9700,57.1,45.1,14.9,16.2,36.5,...,33.3,32.5,58.5,43.7,36.7,31.9,64.6,11.00,0.911765,2024
1,1198,2,117.4,102.8,0.8207,55.0,49.7,15.8,16.5,33.8,...,34.8,27.5,56.0,49.3,35.6,33.6,68.0,1.30,0.757576,2024
2,1361,6,111.8,93.8,0.8829,49.8,47.2,16.0,18.0,32.7,...,37.5,33.3,51.6,48.3,31.3,30.5,66.1,2.80,0.750000,2024
3,1120,8,120.7,92.2,0.9569,54.1,43.4,14.9,18.2,32.9,...,38.2,41.0,54.9,42.8,35.2,29.8,69.9,5.40,0.794118,2024
4,1140,4,120.4,99.1,0.9035,55.1,48.0,15.2,16.0,32.8,...,25.3,32.1,58.0,48.2,34.8,31.8,69.0,2.70,0.696970,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,1359,22,111.8,102.5,0.7314,56.9,50.0,18.1,21.7,30.2,...,36.4,37.0,55.5,49.5,39.3,33.9,72.6,0.05,0.906250,2024
28,1332,19,113.3,99.5,0.8157,51.8,51.5,14.8,17.9,28.7,...,32.3,32.8,52.7,51.6,33.6,34.3,67.2,1.40,0.676471,2024
29,1103,14,105.1,101.6,0.5943,52.0,48.6,17.2,16.6,29.5,...,33.6,29.0,54.8,50.7,32.0,30.0,65.7,-4.50,0.750000,2024
30,1438,1,103.6,92.2,0.7914,48.6,46.6,13.0,19.4,25.6,...,25.3,25.8,46.2,47.2,35.8,30.5,60.1,1.10,0.676471,2024
31,1389,13,96.9,100.2,0.4053,45.0,46.6,19.6,20.3,35.1,...,38.1,42.3,42.4,46.4,33.9,31.5,64.0,-8.80,0.612903,2024

In [906]:
train_features, test_features, train_labels, test_labels = train_test_split(merged_stats_comp, labels, test_size = 0.2, random_state = 42)

# Instantiate model with 5000 decision trees
rf = RandomForestClassifier(n_estimators = 5000, random_state = 42)
# Train the model on training data
rf.fit(train_features.values, train_labels)

RandomForestClassifier(n_estimators=5000, random_state=42)

In [907]:
train_labels

array([2, 2, 2, 2, 1, 1, 1, 2, 1, 2, 1, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1,
       2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 2,
       1, 2, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 2, 2, 1, 2, 1, 1,
       1, 1, 2, 1, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1,
       1, 1, 2, 2, 1, 1, 2, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 2,
       2, 1, 2, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 1, 2, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1,
       2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 1,
       1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 2, 1, 2, 2, 1, 2, 1, 1, 2, 2, 2, 1,
       1, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       1, 2, 1, 2, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2,
       1, 2, 2, 2, 1, 2, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2,
       1, 2, 2, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2,
       1, 1, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1,
       1, 2, 2, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 2, 1, 1, 2, 1, 1, 2, 1,
       1, 2, 1, 2, 2, 2, 1, 1, 2, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 2, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 2, 1, 2, 2,
       1, 2, 2, 1, 2, 1, 2, 1, 2, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 2, 1, 1,
       2, 1, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 1, 2, 2, 1, 2, 2, 2,
       1, 2, 1, 2, 1, 1])

In [908]:
predictions = rf.predict(test_features)

# Checking Accuracy
print("Accuracy:",metrics.accuracy_score(test_labels, predictions))

Accuracy: 0.6071428571428571

In [909]:
merged_stats_comp.columns

Index(['Team1', 'Team2', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1',
       'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1',
       'WAB_Team1', 'WIN_PCT_Team1', 'CONF_Team2', 'ADJOE_Team2',
       'ADJDE_Team2', 'BARTHAG_Team2', 'EFG_O_Team2', 'EFG_D_Team2',
       'TOR_Team2', 'TORD_Team2', 'ORB_Team2', 'DRB_Team2', 'FTR_Team2',
       'FTRD_Team2', '2P_O_Team2', '2P_D_Team2', '3P_O_Team2', '3P_D_Team2',
       'ADJ_T_Team2', 'WAB_Team2', 'WIN_PCT_Team2'],
      dtype='object')

In [910]:
for idx, row in mm2024_merged_comp.iterrows():
    print("Matchup between " + str(id_to_name[row["Team1"]]))

Matchup between Connecticut
Matchup between Florida Atlantic
Matchup between San Diego St
Matchup between Auburn
Matchup between BYU
Matchup between Illinois
Matchup between Washington St
Matchup between Iowa St
Matchup between North Carolina
Matchup between Mississippi St
Matchup between Saint Mary's
Matchup between Alabama
Matchup between Clemson
Matchup between Baylor
Matchup between Dayton
Matchup between Arizona
Matchup between Houston
Matchup between Nebraska
Matchup between Wisconsin
Matchup between Duke
Matchup between Texas Tech
Matchup between Kentucky
Matchup between Florida
Matchup between Marquette
Matchup between Purdue
Matchup between Utah St
Matchup between Gonzaga
Matchup between Kansas
Matchup between South Carolina
Matchup between Creighton
Matchup between Texas
Matchup between Tennessee

In [911]:
## 2024 March Madness Predictions ##

result = rf.predict(np.array(mm2024_merged_comp.iloc[0]).reshape(1,-1))
result
id_to_name[1163]
id_to_name[1391]

'Stetson'

In [930]:
result = rf.predict(np.array(mm2024_merged_comp.iloc[1]).reshape(1,-1))
result
np.array(mm2024_merged_comp.iloc[1]).reshape(1,-1)

array([[1198, 1321, 2, 117.4, 102.8, 0.8207, 55.0, 49.7, 15.8, 16.5,
        33.8, 29.2, 34.8, 27.5, 56.0, 49.3, 35.6, 33.6, 68.0, 1.3,
        0.7575757575757576, 5, 117.1, 99.2, 0.8706, 53.2, 51.6, 13.3,
        18.8, 25.7, 28.2, 29.9, 39.4, 49.7, 50.3, 39.4, 35.9, 63.7, 1.4,
        0.65625]], dtype=object)

In [913]:
mm2024_merged_comp.iloc[1]

Team1                1198
Team2                1321
CONF_Team1              2
ADJOE_Team1         117.4
ADJDE_Team1         102.8
BARTHAG_Team1      0.8207
EFG_O_Team1          55.0
EFG_D_Team1          49.7
TOR_Team1            15.8
TORD_Team1           16.5
ORB_Team1            33.8
DRB_Team1            29.2
FTR_Team1            34.8
FTRD_Team1           27.5
2P_O_Team1           56.0
2P_D_Team1           49.3
3P_O_Team1           35.6
3P_D_Team1           33.6
ADJ_T_Team1          68.0
WAB_Team1             1.3
WIN_PCT_Team1    0.757576
CONF_Team2              5
ADJOE_Team2         117.1
ADJDE_Team2          99.2
BARTHAG_Team2      0.8706
EFG_O_Team2          53.2
EFG_D_Team2          51.6
TOR_Team2            13.3
TORD_Team2           18.8
ORB_Team2            25.7
DRB_Team2            28.2
FTR_Team2            29.9
FTRD_Team2           39.4
2P_O_Team2           49.7
2P_D_Team2           50.3
3P_O_Team2           39.4
3P_D_Team2           35.9
ADJ_T_Team2          63.7
WAB_Team2             1.4
WIN_PCT_Team2     0.65625
Name: 1, dtype: object

In [966]:
# Function to simulate a single game
def predict(team1, team2):
    result = 0
    mm2024_individual_teams_temp = mm2024_individual_teams.copy()
    team1_data = mm2024_individual_teams_temp[mm2024_individual_teams_temp['Team'] == name_to_id[team1]]
    team2_data = mm2024_individual_teams_temp[mm2024_individual_teams_temp['Team'] == name_to_id[team2]]
    input_data = team1_data.merge(team2_data, on = "YEAR", suffixes=['_Team1', '_Team2']).copy()    
    input_data.drop("YEAR", axis = 1)
    
    # Ensure the columns match out training data
    new_order = ['Team_Team1','Team_Team2', 'CONF_Team1', 'ADJOE_Team1', 'ADJDE_Team1',
       'BARTHAG_Team1', 'EFG_O_Team1', 'EFG_D_Team1', 'TOR_Team1', 'TORD_Team1', 'ORB_Team1', 'DRB_Team1', 'FTR_Team1', 'FTRD_Team1',
       '2P_O_Team1', '2P_D_Team1', '3P_O_Team1', '3P_D_Team1', 'ADJ_T_Team1', 'WAB_Team1', 'WIN_PCT_Team1', 'CONF_Team2', 'ADJOE_Team2', 'ADJDE_Team2',
       'BARTHAG_Team2', 'EFG_O_Team2', 'EFG_D_Team2', 'TOR_Team2',
       'TORD_Team2', 'ORB_Team2', 'DRB_Team2', 'FTR_Team2', 'FTRD_Team2',
       '2P_O_Team2', '2P_D_Team2', '3P_O_Team2', '3P_D_Team2', 'ADJ_T_Team2',
       'WAB_Team2', 'WIN_PCT_Team2']
    input_data = input_data[new_order]
    try:  
        result = rf.predict(np.array(input_data).reshape(1,-1))
    except ValueError:
        print(f'Either {team1} or {team2} not in list')
    if result == 1:
        winner = team1
    else:
        winner = team2
    print(f"Between {team1} and {team2} | {winner} won!")
    return winner

In [967]:
def create_matchups(seeds):
  """
  Creates a dictionary mapping games to team matchups based on seed order.

  Args:
      seeds: Dictionary mapping team names to their seed.

  Returns:
      A dictionary mapping game numbers to team matchups.
  """
  sorted_seeds = dict(sorted(seeds.items(), key=lambda item: item[1]))
  teams = list(sorted_seeds.keys())
  num_games = len(teams) // 2
  matchups = {}
  for i in range(num_games):
    matchups[i+1] = (teams[i], teams[-i-1])  # Use integer index for game number
  return matchups

In [968]:
# function to simulate tournament outcomes for a single region
def simulate_regionals(region):
    print('------------')
    matches = create_matchups(region)
    winners = {}
    for i, teams in matches.items():
        winner = predict(teams[0], teams[1])
        winners[winner] = i
        
    matches2 = create_matchups(winners)
    winners2 = {}
    for i, teams in matches2.items():
        winner = predict(teams[0], teams[1])
        winners2[winner] = i

    matches3 = create_matchups(winners2)
    winners3 = {}
    for i, teams in matches3.items():
        winner = predict(teams[0], teams[1])
        winners3[winner] = i

    matches4 = create_matchups(winners3)
    regional_winner = None
    for i, teams in matches4.items():
        regional_winner = predict(teams[0], teams[1])
    return regional_winner

In [969]:
# function to predict the whole tournament

def simulate_tournament(regions):

    final_four = []
    
    for region in regions:
        final_four.append(simulate_regionals(region))


    print('-----SEMI FINALS-------')
    # semifinals
    w1 = predict(final_four[0], final_four[1])
    w2 = predict(final_four[2], final_four[3])

    #final
    print('-----FINALS-------')
    predict(w1, w2)

In [970]:
# function to read in data from a file which contains our 2024 tournament teams, ordered by seed and separated by region
def read_teams_from_file(filename):
  regions = []
  current_region = []
  with open(filename, "r") as file:
    for line in file:
      line = line.strip()  # Remove leading/trailing whitespace
      if line:  # Skip empty lines
        current_region.append(line)
      elif current_region:  # If a region is complete, process it
        regions.append({team: i+1 for i, team in enumerate(current_region)})
        current_region = []
  if current_region:  # Process the last region
    regions.append({team: i+1 for i, team in enumerate(current_region)})
  return regions

# Get filename from user and read regions
filename = 'Data/24list.txt'
regions = read_teams_from_file(filename)

simulate_tournament(regions)
# print(bracket_results)

------------
Between North Carolina and Wagner | North Carolina won!
Between Arizona and Long Beach St | Arizona won!
Between Baylor and Colgate | Baylor won!
Between Alabama and College of Charleston | Alabama won!
Between Saint Mary's and Grand Canyon | Saint Mary's won!
Between Clemson and New Mexico | New Mexico won!
Between Dayton and Nevada | Nevada won!
Between Mississippi St and Michigan St | Michigan St won!
Between North Carolina and Michigan St | North Carolina won!
Between Arizona and Nevada | Arizona won!
Between Baylor and New Mexico | Baylor won!
Between Alabama and Saint Mary's | Saint Mary's won!
Between North Carolina and Saint Mary's | North Carolina won!
Between Arizona and Baylor | Arizona won!
Between North Carolina and Arizona | Arizona won!
------------
Between Connecticut and Stetson | Connecticut won!
Between Iowa St and South Dakota St | Iowa St won!
Between Illinois and Morehead St | Illinois won!
Between Auburn and Yale | Auburn won!
Between San Diego St and UAB | San Diego St won!
Between BYU and Duquesne | BYU won!
Between Washington St and Drake | Washington St won!
Between Florida Atlantic and Northwestern | Florida Atlantic won!
Between Connecticut and Florida Atlantic | Connecticut won!
Between Iowa St and Washington St | Iowa St won!
Between Illinois and BYU | Illinois won!
Between Auburn and San Diego St | Auburn won!
Between Connecticut and Auburn | Connecticut won!
Between Iowa St and Illinois | Iowa St won!
Between Connecticut and Iowa St | Connecticut won!
------------
Between Houston and Longwood | Houston won!
Between Marquette and Western Kentucky | Marquette won!
Between Kentucky and Oakland | Kentucky won!
Between Duke and Vermont | Duke won!
Between Wisconsin and James Madison | Wisconsin won!
Either Texas Tech or NC State not in list
Between Texas Tech and NC State | NC State won!
Between Florida and Colorado | Colorado won!
Between Nebraska and Texas A&M | Nebraska won!
Between Houston and Nebraska | Houston won!
Between Marquette and Colorado | Marquette won!
Either Kentucky or NC State not in list
Between Kentucky and NC State | NC State won!
Between Duke and Wisconsin | Duke won!
Between Houston and Duke | Houston won!
Either Marquette or NC State not in list
Between Marquette and NC State | NC State won!
Either Houston or NC State not in list
Between Houston and NC State | NC State won!
------------
Between Purdue and Grambling St | Purdue won!
Between Tennessee and Saint Peter's | Tennessee won!
Between Creighton and Akron | Creighton won!
Between Kansas and Samford | Kansas won!
Between Gonzaga and McNeese St | Gonzaga won!
Between South Carolina and Oregon | South Carolina won!
Either Texas or Colorado St not in list
Between Texas and Colorado St | Colorado St won!
Between Utah St and TCU | TCU won!
Between Purdue and TCU | Purdue won!
Either Tennessee or Colorado St not in list
Between Tennessee and Colorado St | Colorado St won!
Between Creighton and South Carolina | Creighton won!
Between Kansas and Gonzaga | Gonzaga won!
Between Purdue and Gonzaga | Purdue won!
Either Colorado St or Creighton not in list
Between Colorado St and Creighton | Creighton won!
Between Purdue and Creighton | Purdue won!
-----SEMI FINALS-------
Between Arizona and Connecticut | Connecticut won!
Either NC State or Purdue not in list
Between NC State and Purdue | Purdue won!
-----FINALS-------
Between Connecticut and Purdue | Purdue won!